header {
    background-color:gray;
    height: 100px;
}
nav {
    background-color: #f5f5f5;
}
div{
    background-color: white;
}
aside {
    background-color: white;
}
nav{
    background-color: #f5f5f5;
}
footer {
    background-color: #333;
    color: #f5f5f5;
}